@import "__mixins";
@import "__variables";

.donation-progress {
  width: $donationBoxWidth;
  height: 10vh;
  background: lightgray;
  @include flex(space-around, center, row);
  div {
    @include flex(center, center, column);
  }
  &__donation-dots {
    @include flex(center, center, column);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: blue;
  }
  .opaChange {
    opacity: 0.7;
  }
}
.donation-amount-holder {
  width: $donationBoxWidth;
  @include flex(space-between, center, row);
  flex-wrap: wrap;
  &__user-input {
    width: 320px;
    height: $donationBoxHeight;
    background: whitesmoke;
    margin-bottom: 10px;
    font-size: 30px;
  }
}
.ea-donation {
  font-size: 30px;
  @include flex(center, center, column);
  width: 160px;
  height: $donationBoxHeight;
  background: $primary;
  margin-bottom: 10px;
  &__opaChange {
    opacity: 0.7;
  }
}
.sub-box {
  width: $donationBoxWidth;
  height: $donationBoxHeight;
  background: green;
}
