@import "__mixins";
@import "__variables";

.donation-progress {
  width: 60vw;
  height: 15vh;
  background: lightgray;
  @include flex(space-around, center, row);
  margin: auto;
  div {
    @include flex(center, center, column);
  }
  &__donation-dots {
    @include flex(center, center, column);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: blue;
  }
}
