.footer-main {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.footer-main > h4 {
  font-weight: 200;
  font-size: 9px;
  letter-spacing: 0.5px;
}
